<div class="container">
<h1>Ton profile</h1>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      Description : <span class="text-monospace"><%= @user.description %>
    </li>

      <span><% @user.events.each do |event|%>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date : <%= event.start_date.strftime("%d/%m/%Y, %H:%M") %></li>
          <li class="list-group-item">Durée : <%= event.duration %> mins</li>
          <li class="list-group-item">Prix : <%= event.price %> €</li>
          <li class="list-group-item">Localisation : <%= event.location %> </li>
        </ul>

      <% end %></span>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
</div>
