<div class="jumbotron">
      <h1>We may be apart, </h1>
      <h1>but we’ll get through this together.</h1>
      <br>
      <p>You dont have an account ? <%= link_to 'Join Us', new_user_registration_path %></p>
</div>

<div class="container">

<% @events.each do |event|  %>
<div class="form-group text-left py-4 px-5 border rounded bg-white">
  <article>
    <img width="300px" src=<%="https://source.unsplash.com/1600x900/?#{event.id}" %>>
    <h2> <%= link_to event.title, event_path(event) %></h2>
    <p><small>Price: <%= event.price %>€</small></p>
    <p><%= event.description  %></p>
    <p> <%= event.start_date.strftime("The %m/%d/%Y, at %I:%M%p")  %></p>
    </div>
  </article>
<% end %>
