<br>
<br>
<div class="container">
 <h1>Crée d'événement</h1>


<%= form_for new_event_path, multipart: true do |f|%>
<div class="form-group text-left py-4 px-5 border rounded bg-white">
       <div class="form-group">
        <%=f.text_field :title, class: "form-control", placeholder: "Titre *",size: "50"%>
      </div>
      <div class="form-group">
        <%=f.text_field :location, class: "form-control", placeholder: "Localisation",size: "50"%>
      </div>
      <div class="form-group">
        <%=f.text_field :price, class: "form-control", placeholder: "Prix",size: "50"%>
      </div>
      <div class="form-group">
        <%=f.text_field :start_date, class: "form-control", placeholder: "Date de début",type:"datetime-local", size: "50"%>
      </div>
      <div class="form-group">
        <%=f.text_field :duration, class: "form-control", placeholder: "Durée",size: "50"%>
      </div>
      <div class="form-group">
        <%=f.text_field :description, class:"form-control", placeholder:"Description",size: "50"%>
      </div>
      <p>Photo de l'évènement :</p>
      <div class="form-group">
        <%= f.file_field :avatar %>
      </div>
      <div class="form-group">
        <%= f.submit  "Publier", class: "btn btn-primary" %>
      </div>
  </div>
  <%end%>
</div>




