<h1><%= @event.title.capitalize %></h1>
<p>Description :</p>
<p><%= @event.description.capitalize %></p>

<p>Le nombre d'inscrits à l'événement</p>
<p>Le créateur (son email suffira)</p>
<p><%= @event_start %></p>
<p><%= @start_event %> </p>
<p><%= @end_event %></p>
<p>Duration : <%= @event.duration %> minutes</p>
<p>Price: <%= @event.price %>€</p>

<%= link_to "Join event", new_event_attendance_path(@event.id), class:"btn btn-primary"  %>

<%= link_to "Back to events list", events_path, class:"btn btn-primary"  %>
